:root {
  --black: #0D090E;
  --grey-dark: #3F4A44;
  --grey: #807D7A;
  --beige: #B5B99B;  
  --white: #C9E5F9;
  
  --green-light: #B7DCA4;  
  --green: #64EC7E;
  --green-dark: #31B780;

  --blue: #6CCFB7;
  --blue-dark: #3D8B8E;

  --yellow: #D2E25F;
  --yellow-dark: #AA720F;
  --orange: #91520F;
  --brown: #533819;
  --brown-dark: #351806;
   
  --pink: #6A186E;
  --red-dark: #640007;
  --red: #8D0006;
} 