{% capture description %}Analysis of the {{ title }}{% endcapture %}
{% include partials/header.liquid, title: title, description: description %}

<h1>{{ title }}</h1>

{{ comment }}

{% include partials/footer.liquid %}
