<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bond Themes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A completist's James Bond themes database"
    />
  </head>
  <body>
    <h1>Welcome to the Bond Themes Archives</h1>

    <a href="movies">See movies list</a>
  </body>
</html>
