{% assign description = "A completist's James Bond themes database" %} {%
include partials/header.liquid, description: description %}

<h1>Welcome to the Bond Themes Archives</h1>
<a href="movies">See movies list</a>

{% include partials/footer.liquid %}
