{% include partials/header.liquid, title: "The James Bond Theme", description: "A musical analysis of the James Bond Theme" %}

<h2>Bassline</h2>
<abc-track abc="[K:Em] [Q:1/4=142] [V:1 clef=treble-8] b,4c4 | ^c4=c4 |"></abc-track>
<h2>Riff</h2>
<abc-track abc="[K:Em] [Q:1/4=142] [V:1 clef=treble-8] EF/2F/2FF2EEE | EG/2G/2GG2F=FE | ^d=d-d4BA | B8"></abc-track>
<h2>Swing</h2>
<abc-track swing abc="[K:Em] [Q:1/4=142] EG2^d=d3G | ^AB-B4zG- | GA/2G/2F3B,E^C- | C8"></abc-track>
<h2>Build-up</h2>
<abc-track swing abc="[K:Em] [Q:1/4=142] EE2EFEF2 |GG2GFEF2"></abc-track>
<h2>Stabs</h2>
<abc-track swing abc="[K:Em] [Q:1/4=142] BBzB,3BB | zB,3B/2BB/2BB"></abc-track>
<h2>Coda</h2>
<abc-track swing abc="[K:Em] [Q:1/4=142] [V:1 clef=treble-8] [M:3/4] EG2^d=d2 | GB2f=f2 | Bd2^a=a2 | eg2^d'=d'2- | d'2"></abc-track>
<h2>James Bond Chord</h2>
<abc-track abc="[K:Em] [Q:1/4=142] [V:1 clef=treble-8] [EGB^df]8">