{% assign title = "Movies list" %} {% assign description = "The list of every
James Bond movies" %} {% include partials/header.liquid, title: title,
description: description %}

<h1>All movies</h1>

<ol>
  {% for movie in collections.movies %}
  <li>
    <a href="{{ movie.url }}">{{ movie.data.title }} ({{ movie.data.year }})</a>
  </li>
  {% endfor %}
</ol>

<a href="/">Back to home</a>

{% include partials/footer.liquid %}
