.infos {
  background-color: var(--white);
  color: var(--black);
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1.125rem;
  margin: 2rem 0;
  font-weight: lighter;
  box-shadow: 0 0 4px 0 var(--white);
}

.infos__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--grey);

  div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}